.header-container {
  width: inherit;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid hsl(0, 0%, 100%);
}

.home-link {
  font-size: 1.5em;
  color: hsl(348, 85%, 54%);
}

.nav-links {
  width: fit-content;
  display: flex;
  column-gap: 1em;
  text-decoration: none;
}

.nav-link {
  color: hsl(0, 0%, 100%);
  font-size: 1.2em;
}

.nav-link:hover {
  color: hsl(348, 85%, 54%);
  /* border-bottom: 2px solid hsl(0, 0%, 100%); */
}

.header-buttons {
  display: flex;
  column-gap: 1em;
}
