.signup-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid #fff; */
}

.signup-section {
  width: 400px;
  box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.1);
}

.signup-form {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.signup-title {
  text-align: center;
  font-weight: 700;
  font-size: 1.5em;
  color: hsl(0, 0%, 100%);
}

.label {
  color: hsl(0, 0%, 100%);
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: 500;
}

/* .email-label {

} */

.username-input,
.email-input,
.pwd-input,
.avatar-input {
  color: hsl(0, 0%, 0%);
  margin-bottom: 10px;
  font-size: 1.2em;
  padding: 5px;
}

/* .email-input {
  
} */

/* .btn {
  padding: 10px;
  margin: 10px 0;
  font-size: 1em;
} */

/* .btn-signup {
  color: #ffffff;
  background-color: #6c009e;
} */

/* .btn-signup:hover {
  color: #ffffff;
  background-color: #430361;
} */
